@use "./variables" as *;

header{
    background-image:url(../assets/image-1.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    height:80vh;
}
.desknavbar{
    display:flex;
    p{
        font-family:$titles_font_family;
        color:$primarywhite;
        font-size:$logo_font_size;
        font-weight:600px;
        text-transform:uppercase;
        width:60%;
        margin:10px 0px 0px 100px;
    }
}
.headernav{
        display:flex;
        list-style-type:none;
        width:40%;

        li{
            margin-left:60px;
            padding:0px;
            a{
                text-decoration:none;
                color:$primarywhite;
                font-family:$body_font_family;
                text-transform:uppercase;
            }
        }
    }
.titleflex{
    display: flex;
    align-items: center;
    justify-content: center;
}
h1{
    font-size:$h1_font_size;
    font-family:$titles_font_family;
    color:$primarywhite;
    text-align:center;
    border:3px solid $primarywhite;
    text-transform:uppercase;
    max-width:45%;
    margin-top:190px;
    .titleone{
        font-style:italic;
    }
}
.socials{
    position:relative;
}
.instagram{
    position:absolute;
    bottom:200px;
    right:100px;
    height: 40px;
    width: 40px;
    filter:$white_icon_filter;
}
.facebook{
    position:absolute;
    bottom:150px;
    right:100px;
    height: 40px;
    width: 40px;
    filter:$white_icon_filter;
}
.snapchat{
    position:absolute;
    bottom:100px;
    right:100px;
    height: 40px;
    width: 40px;
    filter:$white_icon_filter;
}
.twitter{
    position:absolute;
    bottom:50px;
    right:100px;
    height: 40px;
    width: 40px;
    filter:$white_icon_filter;
}
// MEDIA QUERIES*********************************************

// NAV BARS**************************************************
@media (min-width:1px) and (max-width:414px){
    .desknavbar{
        display:none;
    }
    .mobilenavbar{
        display:flex;
        justify-content:flex-end;

        img{
            margin-right:15px;
            height:40px;
            filter:$white_icon_filter;
        }
    }
}
@media (min-width:415px){
    .mobilenavbar{
        display:none;
    }
}
// HEADER******************************************************
@media (min-width: 1px) and (max-width:414px){
    .facebook, .instagram, .snapchat, .twitter{
        display:none;
    }
    header{
    height:60vh;
    }
    h1{
        max-width:100%;
        border:none;
        .titleone{
            font-size:$mobile_titile_one_size;
        }
    }
}

@media (min-width: 1px) and (max-width:390px){
    h1{
        font-size:$small_mobile_font_size;
    }
}

@media (min-width:391px) and (max-width: 414px){
    h1{
        font-size:$large_mobile_font_size;
    }
}