@use "./variables" as *;

.wrapper{
    max-width:1620px;
    margin:0 auto;
    width:75%
}
.wrappertwo{
    max-width:1920px;
}
// GENERIC************************************************
h2{
    text-align:left;
    text-transform:uppercase;
    font-size:$sub_heading_font_size;
    color:$primaryblack;
    font-weight: 600px;
    font-family:$titles_font_family;
    margin-bottom:50px;
}
p{
    color:$primaryblack;
    line-height:$default_line_height;
    font-family:$body_font_family;
    text-align:left;
}
.bodyanchor{
    display:inline-block;
    color:$primarywhite;
    background-color:$body_anchor_color;
    font-family:$titles_font_family;
    font-size:$body_anchor_font_size;
    line-height:$default_line_height;
    text-align:center;
    text-decoration:none;
    text-transform:uppercase;
    width:150px;
    padding:10px;
}
// NEWS SECTION********************************************
.news h2{
    text-align:center;
    width:100%;
}
.newsgallery{
    list-style-type: none;
    padding:0px; 
    display:grid;
    gap:2rem;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom:50px;
        img{
            height:450px;
        }
}
// HIGHLIGHTS SECTION*************************************
.hightlight{
    display:grid;
    grid-template-columns: repeat(4, 1fr);

    img{   
        height:350px;
    }

    h2{
        margin:0px;
    }
}
.highlightright{
    grid-column:span 3;
    margin-left:50px;

    h2, p{
        width:100%;
    }
    
    p{
        margin-top:10px;
    }
}
// TRENDS & BEHIND SCENESSECTION**************************************
.trends, .behindscenes{
    margin-top:50px;
    display:flex;
    
    img{
        height:500px;
    }
}

    h2, p{
        width:80%;
    }
    h2{
        margin-bottom:10px;
    }
.trendsleft, .behind_scenes_right{
    margin-top:-50px;
    margin-left:100px;
}
.behind_scenes_right{
    display:flex;
    flex-direction:column;
}
// AFFILIATES NAV BAR*****************************************
.affiliates{
    margin-top:0px;
    background-image:url(../assets/image-1.jpg);
    height:200px;

    .affiliate_nav{
        display:flex;
        justify-content:space-evenly;
        align-items:center;
    }

    img{
        height:100px;
        width:100px;
        margin-top:40px;
        filter:$white_icon_filter;
    }

    p{
        text-decoration:none;
        color:$primarywhite;
        text-transform:uppercase;
        text-decoration:none;
        margin-top:0px;
        width:100%;
    }
    .brands{
        margin-left:15px;
    }
    .community{
        margin-left:8px;
    }
    .events{
        p{
            margin-left:16px;
        }
    }
}