@use "./variables" as *;

.wrapper{
    max-width:1320px;
    margin:0 auto;
    width:70%
}

// GENERIC************************************************
h2{
    text-align:center;
    text-transform:uppercase;
    font-size:2.45rem;
    color:$primaryblack;
    font-weight: 600px;
    font-family:$titles_font_family;
    margin-bottom:50px;
}
p{
    color:$primaryblack;
    line-height:29px;
    font-family:$body_font_family;
}
.bodyanchor{
    display:inline-block;
    color:$primarywhite;
    background-color:$body_anchor_color;
    font-family:$titles_font_family;
    font-size:0.9rem;
    line-height:29px;
    text-align:center;
    text-decoration:none;
    width:150px;
    padding:10px;
}
// NEWS SECTION********************************************
.newsgallery{
    display:flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    margin-bottom:50px;
        img{
            object-fit:contain;
            display:inline-block;
            height:300px;
            width:100%;
        }
}
// HIGHLIGHTS SECTION*************************************
.hightlight{
    display:flex;
    justify-content: center;
    align-items: center;
    
    h2{
        text-align:left;
        margin:0px;
    }
}
.highlightimg{
    width:20%;

    img{
        height:250px;
    }
}
.highlightright{
    width:65%;

    p{
        margin-top:10px;
    }
}
