// COLOR SCHEMES****************************************************
$primarywhite:#FCFCFC;
$primaryblack:#000000;
$primarygrey:#ACACAC;
$secondarygrey:#E3E3E3;
$body_anchor_color:rgb(24, 52, 154, .78);
$white_icon_filter:invert(100%) sepia(100%) saturate(0%) hue-rotate(242deg) brightness(109%) contrast(98%);

// FONT FAMILIES****************************************************
$titles_font_family:'Cormorant Garamond', serif;
$body_font_family:'Roboto Flex', sans-serif;

// FONT SIZING******************************************************
$h1_font_size:7.5rem;
$sub_heading_font_size:2.45rem;
$nav_title_font_size:1.75rem;
$body_anchor_font_size:0.9rem;
$logo_font_size:2rem;
$bottom_font_size:0.8rem;

$small_mobile_font_size:3.2rem;
$large_mobile_font_size:3.5rem;
$mobile_titile_one_size:4.5rem;

$small_mobile_h2_size:1.7rem;
$large_mobile_h2_size:1.85rem;

$small_mobile_trends_behind_size:1.1rem;
$large_mobile_trends_behind_size:1.2rem;

$small_mobile_lable_font_size:0.85rem;
$small_mobile_contact_font_size:0.7rem;
$large_mobile_lable_font_size:1rem;
$large_mobile_contact_font_size:0.85rem;
// OTHER TEXT MODS***************************************************
$default_line_height:1.45rem;
