$primarywhite:#FCFCFC;
$primaryblack:#000000;
$primarygrey:#ACACAC;
$secondarygrey:#E3E3E3;
$body_anchor_color:rgb(24, 52, 154, .78);
$titles_font_family:'Cormorant Garamond', serif;
$body_font_family:'Roboto Flex', sans-serif;
$h1_font_size:7.5rem;
$sub_heading_font_size:2.45rem;
$nav_title_font_size:1.75rem;
$body_anchor_font_size:0.9rem;
$logo_font_size:2rem;
$default_line_height:1.45rem;